@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 5;
        src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
        font-display: swap;
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 6;
        src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf');
        font-display: swap;
        font-weight: 600;
        font-style: normal;
    }

    @font-face {
        font-family: 7;
        src: url('./assets/fonts/Poppins/Poppins-Bold.ttf');
        font-display: swap;
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: 8;
        src: url('./assets/fonts/Poppins/Poppins-ExtraBold.ttf');
        font-display: swap;
        font-weight: 800;
        font-style: normal;
    }

    @font-face {
        font-family: 9;
        src: url('./assets/fonts/Poppins/Poppins-Black.ttf');
        font-display: swap;
        font-weight: 900;
        font-style: normal;
    }

    @font-face {
        font-family: 10;
        src: url('./assets/fonts/Poppins/Poppins-Medium.ttf');
        font-display: swap;
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 11;
        src: url('./assets/fonts/Poppins/Poppins-Light.ttf');
        font-display: swap;
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-family: 12;
        src: url('./assets/fonts/Poppins/Poppins-Thin.ttf');
        font-display: swap;
        font-weight: 100;
        font-style: normal;
    }
}

@layer components {
    .font-5 {
        font-family: 5;
    }

    .font-6 {
        font-family: 6;
    }

    .font-7 {
        font-family: 7;
    }

    .font-8 {
        font-family: 8;
    }

    .font-9 {
        font-family: 9;
    }

    .font-10 {
        font-family: 10;
    }

    .font-11 {
        font-family: 11;
    }

    .font-12 {
        font-family: 12;
    }
}